{erl_opts, [
  debug_info,
  {i, "./_build/default/plugins/gpb/include"}
  ]}.
{deps,[
  {ranch, "1.4.0"},
  {gpb, "3.27.4"}
  ]}.

{plugins, [
	rebar3_hex,
	{rebar3_gpb_plugin, "1.11.5"}
	]}.

{relx, [{release, { route_master, "0.1.0" },
         [route_master,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, true},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{gpb_opts, [
  {i, "protobuf"},                % path/to/proto_dir
  {module_name_suffix, "_pb"}, % Naming convention, unless you have a good reason just go with it.
  %{o, "path/to/out_dir"},     % both .erl and .hrl are generated here, we will define the directories below instead.
  {o_erl, "src"},              % Where the generated source is placed
  {o_hrl, "include"},          % Where the generated include files are placed
  {strings_as_binaries, true},
  type_specs]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.